@model IEnumerable<GenesisAddressBook.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<div class="row mb-5">
    <div class="col-md-2">
        <a class="glass-button" asp-action="Create">Create New</a>
    </div>
</div>
<table class="table row glass-cf-style darkGlass p-4">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="me-3" asp-action="Edit" asp-route-id="@item.Id" title="Edit Category"><i class="bg-info bi-pencil text-white"></i></a>
                <a class="me-3" asp-action="EmailCategory" asp-route-id="@item.Id" title="Send Group Email"><i class="bg-info bi-envelope text-white"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id" title="Delete Category"><i class="bg-info bi-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
